<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="title">
                Code Detail
            </div>
            <div class="button">
                <button nbButton (click)="open()">
                    <i class="fas fa-plus"></i>&nbsp; Code Detail
                </button>
                <button nbButton status="danger" (click)="onDelete()">
                    <i class="far fa-trash-alt"></i>&nbsp; Delete
                </button>
                <button nbButton (click)="navigateToCodeMaster()" status="success">
                    Code Master
                </button>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="codeDetails$ | async" (userRowSelect)="onUserRowSelect($event)">
        </ng2-smart-table>
    </nb-card-body>
</nb-card>