<table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Code Store</th>
        <th>Code Location</th>
        <th>Code Staff</th>
        <th>Time Open</th> 
        <th>Time Close</th>
        <th>Adress</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let storeinformation of storeinformations"
        (click)="navigateToStore(storeinformation.id)">
        <td> {{storeinformation.codeStore}}</td>
          <td>{{storeinformation.codeLocation}}</td>
          <td> {{storeinformation.codeStaff}}</td>
          <td>{{storeinformation.openTime}}</td>
          <td> {{storeinformation.closeTime}}</td>
          <td> {{storeinformation.address}}</td>
      </tr>
    </tbody>
  </table>
