<nb-card>
    <nb-card-header>
      <div class="row">
        <div class="col-6"><h4>Product List</h4></div>
        <div class="button">
            <button class="btn btnAdd" (click)="add()" nbButton status="success" nbTooltip="Add New Calendar" nbTooltipPlacement="top"><i class="fa fa-plus" aria-hidden="true"></i></button>
            <button class="btn btnSave" (click)="save()" nbButton status="info" nbTooltip="Save Calendars" nbTooltipPlacement="top"><i class="fas fa-save" aria-hidden="true"></i></button>
            <button class="btn btnDelete" (click)="delete()" nbButton status="danger" nbTooltip="Delete Calendars" nbTooltipPlacement="top"><i class="fas fa-trash" aria-hidden="true"></i></button>
        </div>
      </div>   
    </nb-card-header>
    <nb-card-body>
      <ng2-smart-table [settings]="settings" (userRowSelect)="navigateToProductGroupDetail($event)" (custom)="onProductAction(event)" (deleteConfirm)="delete($event)">
      </ng2-smart-table>
    </nb-card-body>
</nb-card>