<nb-card>
    <nb-card-header><label>Add Code Detail</label></nb-card-header>
    <nb-card-body>
        <form [formGroup]="addCodeDetailForm">
            <div class="cm" *ngIf="(codeMasters$ | async) as codeMasters">
                <ng-container>
                    <nb-select [formControl]="cmForm" [(ngModel)]="cmSelected.companyCode" placeholder="Select Company Code">
                        <nb-option *ngFor="let cm of codeMasters" [value]="cm.companyCode">
                            {{cm.companyCode}}
                        </nb-option>
                    </nb-select>
                    <nb-select [formControl]="cmForm" [(ngModel)]="cmSelected.cMCode" placeholder="Select Code Master">
                        <nb-option *ngFor="let cm of codeMasters" [value]="cm.cMCode">
                            {{cm.cMCode}}
                        </nb-option>
                    </nb-select>
                </ng-container>
            </div>
            <br>
            <label for="companyCode">Company Code</label>
            <input type="text" disabled formControlName="companyCode" class="form-control" [(ngModel)]="cmSelected.companyCode" name="companyCode"  required>
            <label for="cMCode">Code Master Code</label>
            <input type="text" disabled formControlName="cMCode" class="form-control" [(ngModel)]="cmSelected.cMCode"  name="cMCode"  required>
  
            <label for="cdCode">Code Detail Code</label>
            <input type="text" formControlName="cdCode" class="form-control" name="cdCode"  required>

            <label for="cdName">Code Detail Name</label>
            <input type="text" formControlName="cdName" class="form-control" name="cdName"  required>

            <label for="standardName">Standard Name</label>
            <input type="text" formControlName="standardName" class="form-control" name="standardName" required>
            
            <label for="customerCode">Customer Code</label>
            <input type="text" formControlName="customerCode" class="form-control" name="customerCode"  required>

            <label for="remark">Remark</label>
            <input type="text" formControlName="remark" class="form-control" name="remark"  required>

        </form>
    </nb-card-body>
    <nb-card-footer>
        <button nbButton class="btn btn-success" type="submit" status="success"
        (click)="onSubmit(addCodeDetailForm.value)">Save</button>
        <button nbButton id="cancel" (click)="close()" status="danger">
        <i class="fas fa-ban"></i>&nbsp; Cancel
        </button>
    </nb-card-footer>
</nb-card>