<nb-card>
    <nb-card-header>Structure Value List</nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <label for="companyCode">Company Code</label>
                <input nbInput type="text" class="form-control" name="companyCode"
                    [(ngModel)]="structurevalue.companyCode">
            </div>
            <div class="col-xs-12 col-md-12">
                <label for="structureCode">Structure Code</label>
                <input nbInput type="text" class="form-control" name="structureCode"
                    [(ngModel)]="structurevalue.structureCode">
            </div>
            <div class="col-xs-12 col-md-12">
                <label for="structureValueCode">structure Value Code</label>
                <input nbInput type="text" class="form-control" readonly [(ngModel)]="structurevalue.structureValueCode"
                    name="structureValueCode">
            </div>
            <div class="col-xs-12 col-md-12">
                <label for="structureValueName">structure Value Name</label>
                <input nbInput type="text" class="form-control" readonly [(ngModel)]="structurevalue.structureValueName"
                    name="structureValueName">
            </div>
            <div class="col-xs-12 col-md-12">
                <label for="level">Level</label>
                <input nbInput type="number" class="form-control" name="level" readonly
                    [(ngModel)]="structurevalue.level">
            </div>
            <div class="col-xs-12 col-md-12">
                <label for="type">Type</label>
                <input nbInput type="text" class="form-control" name="type" readonly [(ngModel)]="structurevalue.type">
            </div>
            <div class="col-xs-12 col-md-12">
                <label for="parentCode">Parent Code</label>
                <input nbInput type="string" class="form-control" name="parentCode" readonly
                    [(ngModel)]="structurevalue.parentCode">
            </div>
            <div class="col-xs-12 col-md-12">
                <label for="parentValue">Parent Value</label>
                <input nbInput type="string" class="form-control" name="parentValue" readonly
                    [(ngModel)]="structurevalue.parentValue">
            </div>
            <div class="col-xs-12 col-md-12">
                <label for="ordinal">ordinal</label>
                <input nbInput type="number" class="form-control" name="ordinal" readonly
                    [(ngModel)]="structurevalue.ordinal">
            </div>
            <div class="col-xs-12 col-md-12">
                <label for="source">Source</label>
                <input nbInput type="string" class="form-control" name="source" readonly
                    [(ngModel)]="structurevalue.source">
            </div>
            <div class="col-xs-12 col-md-12">
                <label for="status">status</label>
                <input nbInput type="string" class="form-control" name="status" readonly
                    [(ngModel)]="structurevalue.status">
            </div>
        </div>
    </nb-card-body>

    <nb-card-footer>
        <button class="cancel" nbButton status="danger" (click)="back()">Back</button>
        <button nbButton status="success" (click)="edit()">Edit</button>
    </nb-card-footer>
</nb-card>