<!-- <nb-card>
    <nb-card-header><label>Bundle Detail</label></nb-card-header>
    <nb-card-body>
      <form method="POST">
          <div>
          <input nbInput fullWidth type="hidden" class="form-control" name="id">
        </div>
          <div>
            <label>Company Code</label>
            <input nbInput fullWidth type="text" name="companyCode" class="form-control"
              placeholder="Company Code">
          </div>
          <div>
            <label>Company Code</label>
            <input nbInput fullWidth type="text" name="companyCode" class="form-control"
              placeholder="Company Code">
          </div>
          <div>
            <label>Company Code</label>
            <input nbInput fullWidth type="text" name="companyCode" class="form-control"
              placeholder="Company Code">
          </div>
      </form>
    </nb-card-body>
    <nb-card-footer>
      <button class="cancel" nbButton status="danger" (click)="navigateToProductGroup()" md-dialog-close>Back</button>
      <button class="cancel" nbButton status="danger" (click)="close()" md-dialog-close>Edit</button>
      <button nbButton status="success">Save</button>
    </nb-card-footer>
  </nb-card>
   -->