<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Location Id</th>
            <th>Address</th>
            <th>Warehouse Manager Id</th>
            <th>Warehouse Code</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let warehouse of warehouses" (click)="navigateToWarehouse(warehouse.id)">
            <td>{{ warehouse.id }}</td>
            <td>{{ warehouse.warehouseName }}</td>
            <td>{{ warehouse.locationId }}</td>
            <td>{{ warehouse.warehouseAddress }}</td>
            <td>{{ warehouse.managerId }}</td>
            <td>{{ warehouse.warehouseCode }}</td>
            <td>{{ warehouse.warehouseStatus }}</td>
        </tr>
    </tbody>
</table>