<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-md-6" style="font-size: 30px;">Structure Value List</div>
      <div class="col-md-6" style="justify-content: flex-end;">
        <button nbButton status="primary" (click)="back()">Back</button>
        <button nbButton status="danger" (click)=" onClick()">
          <i class="fas fa-trash-alt"></i>
          <span>Delete</span> </button>
        <button nbButton status="success" (click)="save()">Save</button>
        <button nbButton status="primary" (click)="open3(dialog)"><i class="fas fa-plus"></i>Structure Value</button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]=" structurevalues$ | async" (deleteConfirm)="delete($event)"
      (userRowSelect)="onUserRowSelect($event)" (custom)="onCustomAction($event)">
    </ng2-smart-table>
  </nb-card-body>
  <nb-card-footer>
    <!-- <button nbButton status="primary" (click)="back()"  >Back</button>
    <button nbButton status="success" (click)="save()">Save</button> -->
  </nb-card-footer>
</nb-card>