<nb-card>
  <nb-card-header>
    <label>Update RoomGroup</label>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="updateRoomGroupForm" method="POST">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <input type="hidden" formControlName="id" class="form-control" name="id">
          <!-- <input type="hidden" formControlName="rowVersion" class="form-control" name="rowVersion"> -->
          <input type="hidden" formControlName="createdBy" class="form-control" name="createdBy">
          <input type="hidden" formControlName="lastUpdatedBy" class="form-control" name="lastUpdatedBy">
          <input type="hidden" formControlName="createdDateTime" class="form-control" name="createdDateTime">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-md-6">
          <label>Roomgroup Name</label>
          <input nbInput fullWidth type="text" name="name" formControlName="name" class="form-control"
            placeholder="name">
        </div>
        <div class="col-xs-6 col-md-6">
          <label>Roomgroup Note</label>
          <input nbInput fullWidth type="text" name="note" formControlName="note" class="form-control"
            placeholder="note">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-md-6">
          <label>Roomgroup Status</label>
          <nb-select placeholder="Status" formControlName="status" fullWidth>
            <nb-option value="On">On</nb-option>
            <nb-option value="Off">Off</nb-option>
          </nb-select>
        </div>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton outline status="danger" (click)="close()">Close</button>
    <button nbButton outline status="success" (click)="submit(updateRoomGroupForm.value)">Save</button>
  </nb-card-footer>
</nb-card>