<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="title">
                <label>Code Detail List</label>
            </div>
            <div class="button">
                <button nbButton outline (click)="open()">
                    <i class="fas fa-plus"></i>&nbsp; Code Detail
                </button>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="codeDetails$ | async"
            (userRowSelect)="onUserRowSelect($event)">
        </ng2-smart-table>
    </nb-card-body>
    <nb-card-footer>
        <button nbButton outline (click)="navigateToCodeMaster()" status="success">
            Code Master List
        </button>
    </nb-card-footer>
</nb-card>