<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-md-6" style="font-size: 30px;">Structure Value List</div>
      <div class="col-md-6" style="justify-content: flex-end;">
        <button nbButton outline status="danger" (click)=" onClick()">Delete</button>
        <button nbButton outline status="success" (click)="save()">Save</button>
        <button nbButton outline  status="primary" (click)="add(dialog)">Structure Value</button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]=" structurevalues$ | async" (deleteConfirm)="delete($event)"
      (userRowSelect)="onUserRowSelect($event)" (custom)="onCustomAction($event)">
    </ng2-smart-table>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton outline status="primary" (click)="back()">Structure List</button>
  </nb-card-footer>
</nb-card>