<nb-card>
<div>
    <p>
        Code Store: {{storeinformation?storeinformation.codeStore:''}}
    </p>
    <p>
        Code Staff: {{storeinformation?storeinformation.codeStaff:''}}
    </p>
    <p>
        Code Location: {{storeinformation?storeinformation.codeLocation:''}}
    </p>
    <p>
        Open Time: {{storeinformation?storeinformation.openTime:''}}
    </p>
    <p>
        Close Time: {{storeinformation?storeinformation.openClose:''}}
    </p>
    <p>
        Address: {{storeinformation?storeinformation.address:''}}
    </p>
</div>
</nb-card>