<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="title">
                Warehouse
            </div>
            <div class="button">
                <button nbButton (click)="open()">
                    <i class="fas fa-plus"></i>&nbsp; Warehouse
                </button>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <warehouse-list></warehouse-list>
        <warehouse-smart-table></warehouse-smart-table>
    </nb-card-body>
    
</nb-card>