<nb-card>
    <nb-card-header>Update General Information</nb-card-header>
    <nb-card-body>
        <form [formGroup]="addSecondaryCustomerForm" method="POST">
            <!-- <span>General Information</span> -->
            <div class="row">
                <div class="col-xs-5 col-md-5">
                    <label for="secondaryCustomerCode">Secondary Customer Code</label>
                    <input nbInput type="text" formControlName="secondaryCustomerCode" class="form-control"
                        name="secondaryCustomerCode">
                    <label for="secondaryCustomerName">Secondary Customer Name</label>
                    <input nbInput type="text" formControlName="secondaryCustomerName" class="form-control"
                        name="secondaryCustomerName">
                    <!-- <div class="col-xs-12 col-md-12"> -->
                    <label for="secondaryCustomerName2">Short name</label>
                    <input nbInput type="text" formControlName="secondaryCustomerName2" class="form-control"
                        name="secondaryCustomerName2">
                    <!-- <div class="col-xs-12 col-md-12"> -->
                    <label for="address">Address</label>
                    <input nbInput type="text" formControlName="address" class="form-control" name="address">
                </div>
                <div class="col-xs-5 col-md-5">
                    <label for="phone">Phone</label>
                    <input nbInput type="text" formControlName="phone" class="form-control" name="phone">
                    <label for="postCode">Post Code</label>
                    <input nbInput type="text" formControlName="postCode" class="form-control" name="postCode">
                    <!-- <label for="status">Status</label>
     <input nbInput type="text" formControlName="status" class="form-control" name="status" > -->
                </div>
            </div>
        </form>
    </nb-card-body>
    <nb-card-footer>
        <button class="cancel" nbButton status="danger" (click)="close()" md-dialog-close>Close</button>
        <button nbButton status="success" (click)="submit(addSecondaryCustomerForm.value)">Save</button>
    </nb-card-footer>
</nb-card>