<nb-card>
  <nb-card-header><label>Delete SalesTeamBin</label></nb-card-header>
  <nb-card-body>
    <form [formGroup]="deleteSalesTeamBinForm" method="POST">
      <input type="hidden" formControlName="binCode" class="form-control" name="binCode"/>
      <input type="hidden" formControlName="deleted" class="form-control" name="deleted"/>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <button class="cancel" nbButton status="danger" (click)="close()" md-dialog-close>Close</button>
    <button nbButton status="success" (click)="submit(deleteSalesTeamBinForm.value)">Delete</button>
  </nb-card-footer>
</nb-card>