<form class="form">
    <label for="id">Supplier code</label>
    <input nbInput id="subject" type="text">

    <label for="supplierName">Supplier Name</label>
    <input nbInput id="supplierName">

    <label for="supplierPhone">Supplier phone number</label>
    <input nbInput id="supplierPhone">

    <label for="text">Text:</label>
    <input nbInput id="text">

    <label for="text">Text:</label>
    <input nbInput id="text">
    
</form>
<nb-window>
    <nb-card>
        <nb-card-header>
            <div class="title">Create new supplier</div>
            <div class="button">
                <button class="size-medium status-warning shape-rectangle icon-start icon-end transitions">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </nb-card-header>
    </nb-card>
</nb-window>