<nb-card>
    <nb-card-header>
        <label>Add Customers</label>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="addCustomerForm" method="POST">
            <div class="row">
                <div class="col-lg-2 col-md-12 avatar">
                    <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png">
                    <input type="file" id="avatar-file" name="logo" style="display: none;"><br>
                    <button id="choose" type="button" nbButton status="info" class="btnUploadAvatar"
                        nbTooltip="Choose image" nbTooltipPlacement="bottom" style="font-size: 12px;"><i
                            class="fas fa-image"></i>Choose image</button>
                </div>
                <div class="col-lg-5 col-md-12">
                    <div class="form-group row">
                        <label class="label col-sm-3 col-form-label">Customer Type</label>
                        <div class="col-sm-9">
                            <nb-radio-group [(value)]="customerType" class="row" name="type">
                                <nb-radio value="personal">
                                    Personal
                                </nb-radio>
                                <nb-radio value="company">
                                    Company
                                </nb-radio>
                            </nb-radio-group>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputName" class="label col-sm-3 col-form-label">Customer ID</label>
                        <div class="col-sm-9">
                            <input type="text" formControlName="id" class="form-control" name="id" nbInput fullWidth
                                placeholder="Default ID" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputName" class="label col-sm-3 col-form-label">Name</label>
                        <div class="col-sm-9">
                            <input type="text" formControlName="name" class="form-control" name="name" nbInput
                                fullWidth>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPhone" class="label col-sm-3 col-form-label">Phone</label>
                        <div class="col-sm-9">
                            <input type="text" formControlName="phone" class="form-control" name="phone" nbInput
                                fullWidth>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputDob" class="label col-sm-3 col-form-label">Birthday</label>
                        <div class="col-sm-9">
                            <input nbInput fullWidth [nbDatepicker]="formpicker">
                            <nb-datepicker #formpicker></nb-datepicker>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputAddress" class="label col-sm-3 col-form-label">Address</label>
                        <div class="col-sm-9">
                            <input type="text" nbInput fullWidth>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputDistrict" class="label col-sm-3 col-form-label">District</label>
                        <div class="col-sm-9">
                            <nb-select selected="0" fullWidth>
                                <nb-option value="0">Choose District</nb-option>
                                <nb-option value="1">District 1</nb-option>
                                <nb-option value="2">District 2</nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputWard" class="label col-sm-3 col-form-label">Ward</label>
                        <div class="col-sm-9">
                            <nb-select selected="0" fullWidth>
                                <nb-option value="0">Choose Ward</nb-option>
                                <nb-option value="1">Ward 1</nb-option>
                                <nb-option value="2">Ward 2</nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputGroup" class="label col-sm-3 col-form-label">Group</label>
                        <div class="col-sm-9">
                            <input type="text" nbInput fullWidth id="inputGroup">
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12">
                    <div class="form-group row">
                        <label for="inputbName" class="label col-sm-3 col-form-label">Branch Name</label>
                        <div class="col-sm-9">
                            <input type="text" nbInput fullWidth id="inputbName" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputTax" class="label col-sm-3 col-form-label">Tax code</label>
                        <div class="col-sm-9">
                            <input type="text" nbInput fullWidth>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputGender" class="label col-sm-3 col-form-label">Gender</label>
                        <div class="col-sm-9">
                            <nb-radio-group [(value)]="gender" class="row" name="gender">
                                <nb-radio value="male">
                                    Male
                                </nb-radio>
                                <nb-radio value="female">
                                    Female
                                </nb-radio>
                            </nb-radio-group>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail" class="label col-sm-3 col-form-label">Email</label>
                        <div class="col-sm-9">
                            <input type="text" nbInput fullWidth>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputFb" class="label col-sm-3 col-form-label">Facebook</label>
                        <div class="col-sm-9">
                            <input type="text" nbInput fullWidth>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputNotes" class="label col-sm-3 col-form-label">Notes</label>
                        <div class="col-sm-9">
                            <textarea type="text" nbInput fullWidth rows="8"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="col-sm-9" class="button">
            <button class="btn btnSave" type="button" nbButton status="success" nbTooltip="Save"
                nbTooltipPlacement="left" (click)="submit(addCustomerForm.value)"><i
                    class="fas fa-save"></i><span>Save</span></button>
            <button class="btn btnCancel" type="button" nbButton status="danger" nbTooltip="Cancel"
                nbTooltipPlacement="right" [routerLink]="['/dashboard/customers/view-customers-page']"><i
                    class="fas fa-times-circle"></i><span>Cancel</span></button>
        </div>
    </nb-card-body>
</nb-card>