<div>
    <p>
        ID: {{ calendar?calendar.id:'' }}
    </p>
    <p>
        Company Code: {{ calendar?calendar.companyCode:'' }}
    </p>
    <p>
        Customer Code: {{ calendar?calendar.customerCode:'' }}
    </p>
    <p>
        Recurring: {{ calendar?calendar.recurring:'' }}
    </p>
    <p>
        Working Date: {{ calendar?calendar.workingDate:'' }}
    </p>
    <p>
        Working Day: {{ calendar?calendar.workingDay:'' }}
    </p>
    <p>
        Description: {{ calendar?calendar.description:'' }}
    </p>
    <p>
        Non Working: {{ calendar?calendar.nonWorking:'' }}
    </p>
    <p>
        Status: {{ calendar?calendar.status:'' }}
    </p>
</div>