<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col-6"><h3>Locations List</h3></div>
            <div class="col-6">
              <button nbButton status="success" (click)="onCreate()"> Add
              </button>
            </div>      
          </div> 
    </nb-card-header>
    <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="locations$ | async" 
        (userRowSelect)="onUserRowSelect($event)"
        (editConfirm)="onEditConfirm($event)"
        (edit)="onEdit($event)"></ng2-smart-table>
    </nb-card-body>
</nb-card>
