<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="title">
                <label>Warehouse List</label>
            </div>
            <div class="button">
                <button nbButton (click)="open()">Add</button>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <ngx-warehouse-list></ngx-warehouse-list>
    </nb-card-body>
    <nb-card-body>
        <ngx-warehouse-smart-table></ngx-warehouse-smart-table>
    </nb-card-body>
    <nb-card-footer>
    </nb-card-footer>
</nb-card>
