<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="title">
                <label>Code Master</label>
            </div>
            <div class="btn">
                <button nbButton (click)="onCreated()">Add
                </button>
                <button nbButton status="success" (click)="onSystem($event)">
                    <i class="fas fa-sync-alt"></i>&nbsp; System
                </button>                
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="codeMasters$ | async" (edit)="onEdit($event)"
            (userRowSelect)="onUserRowSelect($event)">
        </ng2-smart-table>
    </nb-card-body>
    <nb-card-footer>
        
    </nb-card-footer>
</nb-card>